// // color set 1
// $background-col: #0B0909;
// $element-col: #44444C;
// $elemented-selected-col: #8C8C8C;
// $text-col: #D6D6D6;

// // color set 2
// $background-col: #050606;
// $element-col: #D8D7D5;
// $elemented-selected-col: #ADB3BC;
// $text-col: #FDFDFD;

// // color set 3
// $background-col: #51555B;
// $element-col: #223C60;
// $elemented-selected-col: #446FA0;
// $text-col: #D6DDE0;

// color set 4
$background-col: #1C1E24;
$element-col: #283654;
$elemented-selected-col: #4D638C;
$text-col: #CFE0F9;


body {
    background: $background-col;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1em 0em;
}


.title-panel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title-text {
    background-color: $element-col;
    color: $text-col;
    width: 90%;
    padding: .75em 0em;
    border: 1px solid $text-col;
    border-radius: .25em;
    text-align: center;
    font-size: 1.75em;
}


.app-container {
    display: flex;
    border: 1px solid $element-col;
    margin: 1em 0em 0em;
}


.options-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    padding: 1em;
    border-right: 1px solid $element-col;
}

.options-text {
    background-color: $element-col;
    color: $text-col;
    width: 90%;
    padding: .25em 0em;
    border: 1px solid $text-col;
    border-radius: .5em;
    text-align: center;
    font-size: 1.25em;
}

.options-content {
    display: flex;
    flex-direction: column;
}

.options-content-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.75em 0em 0em;
}

.options-content-button {
    background-color: $element-col;
    color: $text-col;
    padding: .5em 1em;
    border: 1px solid $text-col;
    border-radius: .25em;
    margin: 0em .5em;
}

.options-content-container-2 {
    display: flex;
    flex-direction: column;
    padding: 1.75em 0em 0em;
}

 .options-content-header-container {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }

.options-content-text {
    color: $text-col;
}

.options-content-value-1, .options-content-value-2, .options-content-value-3, .options-content-value-4 {
    width: 3em;
    text-align: center;
}

.options-content-input-element-1, .options-content-input-element-2, .options-content-input-element-3, .options-content-input-element-4  {
    margin: .75em 0em 0em;
    text-align: right;
}

.options-content-input-element-inline-1 {
    text-align: right;
}

.options-content-container-3 {
    display: flex;
    justify-content: center;
    padding: 1.75em 0em 0em;
}

.options-text-download {
    background-color: $element-col;
    color: $text-col;
    width: 90%;
    padding: .25em 0em;
    border: 1px solid $text-col;
    border-radius: .5em;
    text-align: center;
    font-size: 1.25em;
    text-decoration: none;
}


.display-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 1em;
}

.display-text {
    background-color: $element-col;
    color: $text-col;
    width: 75%;
    padding: .25em 0em;
    border: 1px solid $text-col;
    border-radius: .5em;
    text-align: center;
    font-size: 1.25em;
}

.display-content {
    padding: 1em 0em 0em;
}

.display-canvas-container {
    display: flex;
}

.display-canvas-base {
    background-color: $elemented-selected-col;
    border: 1px solid $text-col;
    z-index: 1;
}

.display-canvas-drawing {
    background-color: transparent;
    border: 1px solid $text-col;
    position: absolute;
    z-index: 2;
}
