body {
  background: #1C1E24;
  font-family: 'Roboto', sans-serif;
  font-size: 1em; }

.main-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1.75em 0em; }

.title-panel {
  display: flex;
  justify-content: center;
  width: 100%; }

.title-text {
  background-color: #283654;
  color: #CFE0F9;
  width: 90%;
  padding: .75em 0em;
  border: 1px solid #CFE0F9;
  border-radius: .1em;
  text-align: center;
  font-size: 1.75em; }

.app-container {
  display: flex;
  border: 1px solid #283654;
  margin: 1.75em 0em 0em; }

.options-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  padding: 1.75em 1em;
  border-right: 1px solid #283654; }

.options-text {
  background-color: #283654;
  color: #CFE0F9;
  width: 90%;
  padding: .5em 0em;
  border: 1px solid #CFE0F9;
  border-radius: .1em;
  text-align: center;
  font-size: 1.25em; }

.options-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.options-content-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0em 1.5em; }

.options-content-button {
  background-color: #283654;
  color: #CFE0F9;
  padding: .5em 1em;
  border: 1px solid #CFE0F9;
  border-radius: .75em;
  margin: 0em .5em;
  font-size: 1em; }

.options-content-button:hover {
  background-color: #4D638C;
  cursor: pointer; }

.options-content-button:focus {
  outline: none; }

.options-content-container-2 {
  background-color: #283654;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  border: 1px solid #CFE0F9;
  border-radius: .75em;
  margin: 1.5em 0em 0em; }

.options-content-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.options-content-text {
  color: #CFE0F9; }

.options-content-value-1, .options-content-value-2, .options-content-value-3, .options-content-value-4 {
  background-color: #283654;
  color: #CFE0F9;
  width: 3em;
  padding: .5em .0em .5em 1em;
  text-align: center;
  border: 1px solid #CFE0F9;
  border-radius: .5em; }

.options-content-value-1:hover, .options-content-value-2:hover, .options-content-value-3:hover, .options-content-value-4:hover {
  background-color: #4D638C;
  cursor: pointer; }

.options-content-value-1:focus, .options-content-value-2:focus, .options-content-value-3:focus, .options-content-value-4:focus {
  outline: none; }

.options-content-input-element-1, .options-content-input-element-2, .options-content-input-element-3, .options-content-input-element-4 {
  margin: .75em 0em 0em; }

.options-content-input-element-1:hover, .options-content-input-element-2:hover, .options-content-input-element-3:hover, .options-content-input-element-4:hover {
  cursor: pointer; }

.options-content-container-3 {
  background-color: #283654;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  border: 1px solid #CFE0F9;
  border-radius: .75em;
  margin: 1.5em 0em 0em; }

.options-content-input-element-inline-1 {
  background-color: #283654;
  width: 33%;
  height: 3.3em;
  padding: .25em;
  border: 1px solid #CFE0F9;
  border-radius: .5em;
  text-align: right; }

.options-content-input-element-inline-1:hover {
  background-color: #4D638C;
  cursor: pointer; }

.options-content-input-element-inline-1:focus {
  outline: none; }

.options-content-container-4 {
  display: flex;
  justify-content: center;
  width: 75%;
  padding: 3em 0em 0em; }

.options-button-download, .options-button-toggle {
  background-color: #283654;
  color: #CFE0F9;
  width: 90%;
  padding: .5em 1em;
  border: 1px solid #CFE0F9;
  border-radius: .75em;
  margin: 0em .5em;
  text-align: center;
  text-decoration: none; }

.options-button-download:hover, .options-button-toggle:hover {
  background-color: #4D638C;
  cursor: pointer; }

.display-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 1.75em 1em; }

.display-text {
  background-color: #283654;
  color: #CFE0F9;
  width: 90%;
  padding: .5em 0em;
  border: 1px solid #CFE0F9;
  border-radius: .1em;
  text-align: center;
  font-size: 1.25em; }

.display-content {
  padding: 1.75em 0em 0em; }

.display-canvas-container {
  display: flex; }

.display-canvas-base {
  background-color: #4D638C;
  border: 1px solid #CFE0F9;
  z-index: 1; }

.display-canvas-base-hidden {
  visibility: hidden; }

.display-canvas-drawing {
  background-color: transparent;
  border: 1px solid #CFE0F9;
  position: absolute;
  z-index: 2; }

.display-canvas-drawing-no-transparent {
  background-color: #4D638C; }

@media only screen and (max-width: 1331px) {
  .app-container {
    flex-direction: column-reverse; }

  .options-panel {
    width: 100%;
    padding: 1.75em 0em;
    border-right: none; }

  .display-panel {
    border-bottom: 1px solid #283654; } }
@media only screen and (max-width: 366px) {
  .options-content {
    width: 88%; } }

/*# sourceMappingURL=spirograf.css.map */
